* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

#generatore-psw {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-align: center;
}

#psw {
  color: red;
  font-size: 25px;
  font-weight: bold;
}